[submodule "roles/ansible-galaxy"]
	path = roles/ansible-galaxy
	url = https://github.com/galaxyproject/ansible-galaxy.git
	branch = master
[submodule "roles/ansible-galaxy-tools"]
	path = roles/ansible-galaxy-tools
	url = https://github.com/galaxyproject/ansible-galaxy-tools.git
	branch = master
[submodule "galaxy_utils"]
	path = galaxy_utils
	url = https://github.com/lecorguille/galaxy_utils.git
	branch = master
[submodule "w4m-config"]
	path = w4m-config
	url = https://github.com/workflow4metabolomics/w4m-config.git
	branch = master
